@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
img {
  border: none;
  vertical-align: middle;
}
imput, button {
  outline: none;
  border: none;
}
a {
  text-decoration: none;
}
a:link {
  color: blue;
}
body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 0.24rem;
}